version: 2.1

orbs:
  node: circleci/node@5.2

jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run tests
          command: npm test

  deploy:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - â run:
          name: Build project
          command: |
            export VITE_API_BASE_URL="${VITE_API_BASE_URL}"
            export VITE_PROJECT_ID="${VITE_PROJECT_ID}"
            npm run build
      - run:
          name: Deploy to Firebase Hosting
          command: |
            echo "$SA_KEY" > ${HOME}/gcloud-key.json
            export GOOGLE_APPLICATION_CREDENTIALS=${HOME}/gcloud-key.json
            npx firebase deploy --only hosting --project "$FIREBASE_PROJECT_ID"

workflows:
  test_and_deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: main

